### Q1. Create a list of five integers and print it.

In [1]:
The_List=[5,10,15,20,25]
print(The_List)

[5, 10, 15, 20, 25]

### Q2. Write a program to find the length of a list.

In [3]:
The_List=[5,10,15,20,25]
print(len(The_List))

5

### Q3. Create a tuple with three elements and print the second item.

In [4]:
My_Tuple=('Razan','Ihab','Jana')
print(My_Tuple[1])

Ihab

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [5]:
My_Dict={'name':'Razan','Age':21,'City':'Cairo'}
print(My_Dict.keys())

dict_keys(['name', 'Age', 'City'])

### Q5. Write a program to convert a list into a set.

In [7]:
The_List=[5,10,15,20,25,5,15]
The_Set=set(The_List)
print(The_Set)

{5, 10, 15, 20, 25}

### Q6. Create a string and print its first and last characters.

In [4]:
My_String='Razan Ihab'
print(My_String[0],My_String[-1])

R b

### Q7. Take input from the user and print it.

In [7]:
The_User=input('plz enter your name')
print(The_User)

ihab

### Q8. Write a program to add two numbers entered by the user.

In [12]:
Num1=int(input('plz enter the 1st num'))
Num2=int(input('plz enter the 2nd num'))
sum=Num1 + Num2
print(sum)

10

### Q9. Use `type()` function to check the data type of a variable.

In [13]:
x='Razan'
y=21
z=2.1
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

### Q10. Create a boolean variable and print it.

In [14]:
Student_passed=True
print(Student_passed)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [19]:
Num=int(input('plz enter a number'))
if Num>0:
    print('the number is +ve')
elif Num<0:
    print('the number is -ve')
else:
    print('the number is zero')

the number is -ve

### Q12. Write a program to check if a number is even or odd.

In [21]:
Num=int(input('plz enter a number'))

if Num %2 == 0 :
    print('the number is even')
else:
       print('the number is odd')

the number is even

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [22]:
Name=input("plz enter your name")
for i in range(3):
    print(Name)

Razan
Razan
Razan

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [24]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [25]:
My_List=[0,10,20,30,40,50,60,70,80,90,100]
for i in My_List:
    print (i)

0
10
20
30
40
50
60
70
80
90
100

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [27]:
sum=0
for i in range(1,101):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [32]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [34]:
My_Name='RazanIhab'
for i in My_Name:
    print(i)

R
a
z
a
n
I
h
a
b

### Q19. Use a `for` loop to print all values in a dictionary.

In [37]:
My_Dict={'name':'Razan','Age':21,'City':'Cairo'}
for i in My_Dict.values():
    print(i)

Razan
21
Cairo

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [1]:
num=int(input())
f=1
for i in range(1,num+1):
    f*=i
    print(f)

1
2
6
24
120

### Q21. Create a list of your 5 favorite fruits.

In [2]:
Fruits=['Mango','Apple','Banana','Orange','Watermelon']
print(Fruits)

['Mango', 'Apple', 'Banana', 'Orange', 'Watermelon']

### Q22. Add a new fruit to your list of favorite fruits.

In [3]:
Fruits=['Mango','Apple','Banana','Orange','Watermelon']
Fruits.append('Grapes')
print(Fruits)

['Mango', 'Apple', 'Banana', 'Orange', 'Watermelon', 'Grapes']

### Q23. Remove the second item from a list.

In [4]:
Fruits=['Mango','Apple','Banana','Orange','Watermelon']
Fruits.pop(1)
print(Fruits)

['Mango', 'Banana', 'Orange', 'Watermelon']

### Q24. Sort a list of numbers in descending order.

In [5]:
My_List=[0,10,20,30,40,50,60,70,80,90,100]
My_List.sort(reverse=True)
print(My_List)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

### Q25. Find the maximum and minimum values in a list.

In [6]:
My_List=[0,10,20,30,40,50,60,70,80,90,100]
print(max(My_List))
print(min(My_List))

100
0

### Q26. Count how many times a value appears in a list.

In [7]:
My_List=[10,10,55,88,34,33,88,22,12,22,44,56,22]
LIST=My_List.count(22)
print(LIST)

3

### Q27. Check if a specific value exists in a list.

In [8]:
Fruits = ["Apple", "Banana", "Mango"]

try:
    Fruits.index("Mango")
    print("Found")
except ValueError:
    print("Not found")

Found

### Q28. Reverse a list without using reverse() function.

In [9]:
My_List = [1, 2, 3, 4, 5]
Reversed_list = My_List[::-1]
print(Reversed_list)

[5, 4, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [10]:
My_List = [1, 2, 3, 4, 5]
Copied_List=My_List.copy()
Copied_List.append(10)
print(My_List)

print(Copied_List)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10]

### Q30. Use slicing to get the first 3 items of a list.

In [11]:
My_List = [1, 2, 3, 4, 5]
Slicing=My_List[:3]
print(Slicing)

[1, 2, 3]

### Q31. Create a tuple with 4 elements and print its length.

In [12]:
MY_TUPLE=(10,20,30,50)
print(len(MY_TUPLE))

4

### Q32. Access the last element of a tuple.

In [13]:
MY_TUPLE=(10,20,30,50)
LAST_ELEMENT=MY_TUPLE[-1]
print(LAST_ELEMENT)

50

### Q33. Convert a tuple into a list.

In [14]:
MY_TUPLE=(10,20,30,50)
MY_LIST=list(MY_TUPLE)
print(MY_LIST)

[10, 20, 30, 50]

### Q34. Convert a list into a tuple.

In [15]:
MY_LIST=[10,20,40,33]
MY_TUPLE=tuple(MY_LIST)
print(MY_TUPLE)

(10, 20, 40, 33)

### Q35. Check if a value exists in a tuple.

In [16]:
my_tuple = (10, 20, 30, 40)
value = 20
try:
    my_tuple.index(value)
    print("Exists? True")
except ValueError:
    print("Exists? False")

Exists? True

### Q36. Concatenate two tuples.

In [17]:
MY_TUPLE1=(1,2,3)
MY_TUPLE2=(4,5,6)
CONCATENATED_TUPLE = MY_TUPLE1 + MY_TUPLE2
print(CONCATENATED_TUPLE)

(1, 2, 3, 4, 5, 6)

### Q37. Repeat a tuple 3 times.

In [18]:
MY_TUPLE1=(1,2,3)
REPEATED_TUPLE = MY_TUPLE1*3
print(REPEATED_TUPLE)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### Q38. Find the index of an element in a tuple.

In [19]:
MY_TUPLE1=(1,2,3)
INDEX_TUPLE=MY_TUPLE1.index(3)
print(INDEX_TUPLE)

2

### Q39. Use tuple unpacking to assign values to variables.

In [20]:
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("a =", a)
print("b =", b)
print("c =", c)

a = 10
b = 20
c = 30

### Q40. Create a nested list and access an inner element.

In [21]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
element = nested_list[1][1]
print(element)

5

### Q41. Create a set of 5 unique colors.

In [22]:
colors = {"red", "blue", "green", "yellow", "purple"}
print(colors)

{'yellow', 'blue', 'green', 'red', 'purple'}

### Q42. Add a new color to the set.

In [23]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.add('brown')
print(colors)

{'yellow', 'blue', 'green', 'red', 'brown', 'purple'}

### Q43. Remove an item from the set using `remove()`.

In [24]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.remove("green")
print(colors)

{'yellow', 'blue', 'red', 'purple'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [25]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.discard("orange")
colors.discard("blue")
print(colors)

{'yellow', 'green', 'red', 'purple'}

### Q45. Create a set from a list with duplicate values.

In [26]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(my_list)
print(unique_set)

{1, 2, 3, 4, 5}

### Q46. Find the union of two sets.

In [27]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [28]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
common_elements = set1.intersection(set2)
print(common_elements)

{3, 4}

### Q48. Find the difference between two sets.

In [29]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

### Q49. Check if a set is a subset of another set.

In [30]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
is_subset = set1.issubset(set2)
print(is_subset)

True

### Q50. Check if two sets are disjoint.

In [31]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [32]:
my_dict={"name":"razan","age":18,"city":"cairo"}
print(my_dict)

{'name': 'razan', 'age': 18, 'city': 'cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [33]:
my_dict={"name":"razan","age":18,"city":"cairo"}
my_dict['job']='engineer'
print(my_dict)

{'name': 'razan', 'age': 18, 'city': 'cairo', 'job': 'engineer'}

### Q53. Update the value of an existing key in the dictionary.

In [34]:
my_dict={"name":"razan","age":18,"city":"cairo"}
my_dict['age']=21
print(my_dict)

{'name': 'razan', 'age': 21, 'city': 'cairo'}

### Q54. Remove a key from the dictionary using `pop()`.

In [35]:
my_dict={"name":"razan","age":18,"city":"cairo"}
remove_key=my_dict.pop('age')
print(remove_key)
print(my_dict)

18
{'name': 'razan', 'city': 'cairo'}

### Q55. Check if a key exists in the dictionary.

In [36]:
my_dict={"name":"razan","age":18,"city":"cairo"}
try:
    _ = my_dict["age"]
    print("Key exists: True")
except KeyError:
    print("Key exists: False")

Key exists: True

### Q56. Loop through a dictionary and print all keys and values.

In [37]:
my_dict={"name":"razan","age":18,"city":"cairo"}
for key,value in my_dict.items():
    print(key,value)

name razan
age 18
city cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [38]:
my_dict={"name":"razan","age":18,"city":"cairo"}
keys=my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [39]:
my_dict={"name":"razan","age":18,"city":"cairo"}
values=my_dict.values()
print(values)

dict_values(['razan', 18, 'cairo'])

### Q59. Get all key-value pairs using `items()`.

In [40]:
my_dict={"name":"razan","age":18,"city":"cairo"}
pairs=my_dict.items()
print(pairs)

dict_items([('name', 'razan'), ('age', 18), ('city', 'cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [41]:

keys = ["name", "age", "city"]
values = ["razan", 18, "Cairo"]
person = dict(zip(keys, values))
print(person)

{'name': 'razan', 'age': 18, 'city': 'Cairo'}